<div id="chat-window">
  <ul id="chat-window-ul">       
    <% for (var i = 0; i <  chatLines.length; i++) { %>
      <li class="chat-window-li">
      <%= chatLines[i].chatLine %>
      </li>
    <% } %>
  </ul>
</div>