<div id="chat-div">
  <ul id="chat-div-ul">       
    <% for (var i = 0; i <  chatLines.length; i++) { %>
      <li class="chat-div-li">hi lines
      <%= chatLines[i].chatLine %>
      </li>
    <% } %>
  </ul>
</div>