<div id="chat-div">
  <ul id="chat-div-ul">
    chat window      
    <%# for (var i = 0; i <  chatLines.length; i++) { %>
      <li class="chat-div-li">One line from chat
      <%#= chatLines[i].chatLine %>
      </li>
    <%# } %>
  </ul>
</div>