<!-- CHAT WINDOW -->
<div id="chat-div">
  <ul id="chat-div-ul">
    chat window here
  </ul>
</div>

<!-- FORM FOR MESSAGES -->
<form action="">
  <input id="message-from-form" autocomplete="off" />
  <button>Send</button>
</form>

<!-- BUTTONS FOR SCROLLING AND CLEAN CHAT -->
<button id="message-nav-up">UP</button>
<button id="message-nav-down">DOWN</button>