<!-- CHAT TITLE -->
<div class="pure-g">
    <div class="pure-u-1-12"></div>
    <div class="pure-u-10-12">
      <div class="chat-event-header align-right radius" style="background-image: url('../images/chat-women.jpg');background-size: cover;background-position: center;">
        <p class="chat-p">Your are in the chat room for the event</p>
        <p class="chat-title"><%= title %></p>
      </div>
    </div>
    <div class="pure-u-1-12"></div>
</div>

<!-- CHAT WINDOW -->
<div class="pure-g">
    <div class="pure-u-1-12"></div>
    <div class="pure-u-10-12">
      <div id="chat-div" class="chat-box radius border inner-shadow">
        <ul id="chat-div-ul" placeholder="There is nobody in this chat-room">
          
          <% messages %>
          <% for(i = 0; i < messages.length; i++){ %>
          <% date = messages[i].createdAt; %>
          <li class="chat-div-li">
          <span class="chat-penName"><%= messages[i].author.penName %></span>
          <span class="chat-time"><%= date.toLocaleString() %></span>
          <br><span class="chat-singleMessage"><%= messages[i].content %></span>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="pure-u-1-12"></div>
</div>
<div class="pure-g">
    <div class="pure-u-1-12 pure-u-md-1-12 pure-u-lg-2-12"></div>
    <div class="pure-u-10-12 pure-u-md-10-12 pure-u-lg-8-12 inline">
      <!-- FORM FOR MESSAGES -->
      <form id="chat-box-form">
        <input  class="chat-form" id="message-from-form" autocomplete="off" />
        <button class="pure-button pure-input-1-2 pure-button-primary button-width">Send</button>
      </form>
    </div>
    <div class="pure-u-1-12 pure-u-md-1-12 pure-u-lg-2-12"></div>
</div>
<script src="/js/chat.js"></script>