


<div id="map" class="hide"></div>

<div id="list-events">
  <ul id="list-events-ul">
    <script id="list-template" type="x-template-mustache">
      <li class="events-li" data-eventid="{{ eventid }}">
        <a href="#">
          <div class="left">
            <ul>
              <li class="title">{{ title }}</li>
              <li class="address">{{ address }}</li>
            </ul>
          </div>
          <div class="right">
            <p>{{ distance }} miles</p>
          </div>
        </a>
      </li>
    </script>
  </ul>
</div>