<div id="map" class="hide"></div>

<div id="list-events">
  <ul id="list-events-ul">
    <script id="list-template" type="x-template-mustache">
      <li class="events-li" data-eventid="{{ eventid }}">
        <a href="#">
          <div class="left">
            <ul>
              <li class="title">{{ title }}</li>
              <li class="address">{{ address }}</li>
            </ul>
          </div>
          <div class="right">
            <p>{{ distance }} miles</p>
          </div>
        </a>
      </li>
    </script>
  </ul>
</div>
<div id="single-event">
  <ul id="list-event">
    <script id="single-template" type="x-template-mustache">
      <div class="event-info" data-eventid="{{ eventid }}">
        <div id="api-description">
          <ul>
            <li class="title">{{ title }}</li>
            <li class="description">{{ description }}</li>
          </ul>
        </div>
      </div>
    </script>
  </ul>
</div>

