<div id="map" class="hide"></div>
<div class="pure-u-11-12" id="list-events-ul">
  <script id="list-template" type="x-template-mustache">
    <div class="js-events-li pure-g" data-eventid="{{ eventid }}">
      <div class="pure-u-3-4 list-info">
        <ul>
          <li class="title">{{ title }}</li>
          <li class="address">{{ address }}</li>
        </ul>
      </div>
      <div class="pure-u-1-4 list-distance">
        <p>{{ distance }}<br>meters</p>
      </div>
    </div>
  </script>
</div>
<div id="single-event">
  <ul id="list-event">
    <script id="single-template" type="x-template-mustache">
      <div class="event-info" data-eventid="{{ eventid }}">
        <div id="api-description">
          <div class="pure-u-1-12"></div>
          <div class="pure-u-10-12">
            <ul class="inline">
              <li>
                <div class="join-chat">
                  <ul>
                   <li class="title width-auto">{{ title }}</li>
                   <li>
                     <form id="js-join-chat-form" action="/events" method="post" class="width-auto">
                      <input type="hidden" name="title" value="{{ title }}">
                      <input type="hidden" name="venueName" value="venueName">
                      <input type="hidden" name="venueLatitude" value="venueLatitude">
                      <input type="hidden" name="venueLongitude" value="venueLongitude">
                      <input type="hidden" name="startDate" value="startDate">
                      <input type="hidden" name="lineupId" value="lineupId">
                      <input type="hidden" name="description" value="description">
                      <input type="submit" value="Join Chat">   
                     </form>
                   </li>
                  <ul>
                </div>
              </li>
              <li class="description">{{ description }}</li>
            </ul>
          </div>
          <div class="pure-u-1-12"></div>
        </div>
      </div>
    </script>
  </ul>
</div>