<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Stranger</title>
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
  <script src="/js/chat.js"></script>
</head>
<body>
  <h1>Hello Stranger</h1>
  <%- body %> <!-- This body is lander.ejs -->

<!-- Tryied to include partials but not presenting on page??? -->


<!-- CHAT WINDOW -->
<div id="chat-div">
  <ul id="chat-div-ul">
    chat window here
  </ul>
</div>

<!-- FORM FOR MESSAGES -->
<form action="">
  <input id="message-from-form" autocomplete="off" />
  <button>Send</button>
</form>

<!-- BUTTONS FOR SCROLLING AND CLEAN CHAT -->
<button id="message-nav-up">UP</button>
<button id="message-nav-down">DOWN</button>

  

</body>
</html>