<nav>
  <div id="nav" class="pure-menu pure-menu-horizontal hide">
    <a href="/home" class="pure-menu-heading pure-menu-link">Hello Stranger</a>

    <ul class="pure-menu-list">
      <% if (user) { %>
      <li class="pure-menu-item"><a href="#" class="pure-menu-link js-attended-events">Your Attended Events</a></li>
      <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
      <li class="pure-menu-item"><a href="" class="pure-menu-link">Back</a>
      <% } else { %> 
      <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
      <li class="pure-menu-item"><a href="/signup" class="pure-menu-link">Signup</a></li>
      <% } %>
    </ul>
  </div>
</nav>