<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>
    <img src="../images/logo2.png" class="pure-u-1-2 centering">
<form method="post" action="/signup" class="pure-form landerform">  
  <div class="pure-u-1-2">

    <input class="pure-input-1" type="text" name="email" id="email" placeholder="E-mail">
  </div>

  <div class="pure-u-1-2">
    <input class="pure-input-1" type="password" name="password" id="password" placeholder="Password">
  </div>

  <input class="pure-button pure-input-1-2 pure-button-primary" type="submit" value="Sign Up">
    <a href="/" class="pure-button pure-input-1-2 pure-button-primary">Already a member?</a>
</form>
