<ul>
<% attendedEvents %>
<% for(i = 0; i < attendedEvents.length; i++){ %>
<li><%= attendedEvents[i].attendedEvent.title %></li>
<li><%= attendedEvents[i].attendedEvent.venue.name %></li>
<li><%= attendedEvents[i].attendedEvent.description %></li>
<% } %>
</ul>