h1 {
  color: white;
}

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  background-color: hotpink
}


#map { 
  height: 500px;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}