h1 {
  color: white;
}
/* PAGE BACKGROUND ETC. ===================*/
html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  background-image: radial-gradient(circle at 5.43% 82.26%, #5ae8c7, transparent 87%),radial-gradient(circle at 95.52% 15.38%, #6CCCE5, white 87%),radial-gradient(circle at 50% 50%, white, white 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* NAVIGATION BAR ===================*/
nav {
  height: 34px;
}
/* LANDER & SIGNUP ===================*/
/* Some of these are over-rides, which may bite us later */
.landerform {
  margin-top: 15%;
  text-align: center;
}
.pure-u-1-2 {
  margin-bottom: 2%;
}
.pure-button-primary {
  background: white;
  color: #6CCCE5;
  border: 0 rgba(0,0,0,0);
  border-radius: 5px;
  font-size: 120%;
  text-decoration: none;
}
a.pure-button-primary {
  background: white;
  color: #6CCCE5;
  border: 0 rgba(0,0,0,0);
  border-radius: 5px;
  font-size: 120%;
  text-decoration: none;
  width: 50%;
  margin-top: 2%;
}
::-webkit-input-placeholder {
 text-align: center;
}
/* MAP (Map Styling is in main.js) ===================*/
#map { 
  height: 500px;
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}
/* LISTING EVENTS. ===================*/
.js-events-li {
  margin: 1% auto;
}
.list-info {
}

.list-distance {
  background-color: white;
  text-align: center;
  vertical-align: top;
}

#list-events-ul ul {
  list-style: none;
  display: inline-block;
/*  margin: 0;
  padding: 5px;*/
}

.title {
  font-weight: bold;
  font-size: 1.4em;
}

.address {
  font-size: 1.2em;
  font-style: oblique;
}